.col-md-6,
.col-md-12,
.col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

.contact-us{
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-xs {
    max-width: 85vh;
}

.cover {
    height: 70vh;
    display: flex;
    bottom: 0;
    color: #fff;
    overflow: hidden;
}

.cover-full {
    height: 100vh;
}

.cover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.08);
}

.cover-content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0 15px;
    text-align: left;
    margin-left: 30px;
    height: 100%; 
}

.cover-title {
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 36vh; 
    left: 25vh;
    z-index: 2;
    line-height: 1.48; 
}

.scroll-hint {
    position: absolute;
    bottom: 5vh; 
    line-height: 1.48;
    left: 28vh;
    color: #fff;
    text-align: left;
    padding: 0 10px;
}

.scroll-hint img {
    margin-top: 25px;
    height: 30px;
    animation: bounce 2s infinite;
}

/* Animations */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2em + 1rem + 5px);
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #d6d6d65a;
    background-clip: padding-box;
    border: 1px solid #ced4da00;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #d6d6d642;
    border-color: #ffffff00;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

textarea.form-control {
    height: auto;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #d6d6d642 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #ced4da00;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    padding: 0.4rem 2.2rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
    background-color: #000000d7;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-control:invalid~.invalid-tooltip,
.form-control.is-invalid~.invalid-feedback,
.form-control.is-invalid~.invalid-tooltip {
    display: block;
}


/* Animations */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.fadeInDown {
    animation-name: fadeInDown;
}

.delayp1 {
    animation-delay: 0.1s;
}

.delayp4 {
    animation-delay: 0.4s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media (max-width: 768px) {
    .cover-title {
        font-size: 1.8rem;
    }

    .sidenav {
        width: 0;
    }

    .sidenav.show {
        width: 80%;
    }

    .col-md-6,
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}